#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-align: center;
}

#titleContainer wavey {
    font-size: 1.5em;
    font-weight: 700;
}

#chip {
    outline: 2px solid white;
    border-radius: 50%;
}

#rarityTableContainer {
    display: flex;
    justify-content: center;
}

#rarityTable {
    padding: 5px;
    outline: 1px solid white;
    text-align: center;
    background-color: rgb(0,0,0,0.25);
}

.rarityRow {
    display: flex;
}


.rarityCell {
    width: 100px;
    height: 25px;
    /* outline: 1px solid white; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rarityCell:nth-child(1), .rarityCell:nth-child(3) {
    width: 75px;
}

.rarityCol {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

#choiceContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#choiceContainer button {
    width: 150px;
    height: 75px;
    background-color: rgb(0,0,0,.25);
}

#choiceContainer button:hover {
    background-color: white;
    color: black;
}