#all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 150px 0px;
    display: flex;
    flex-direction: column;
}

#searchContainer {
    display: flex;
    flex-direction: column;
}

#searchContainer input {
    background-color: transparent;
    color: white;
    font-family: monospace;
    width: 200px;
    height: 20px;
    border: 2px solid var(--outlineDark);
}

#searchContainer input:focus {
    outline: none;
}

#imageListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 25px;
}

.imageCard {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imageCard img {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}